<html>
    <head>
        <title>
            login page
        </title>
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>Auth Page</h2>
                    </div>
                    <div>
                        <h4>いずれかのプロバイダを選択し、ログインを行なってください。</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="/auth/login/github">GitHub</a>
                        </li>
                        <li>
                            <a href="/auth/login/google">Google</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>